<div class="container">
  <h2 class=" mb-4 mt-5 text-center text-blue-500 font-bold text-3xl md:text-4xl font-['KGRedHands']">Crazy Cats</h2>
  <!-- used below component for optimalization, display only chunk of DOM -->
  <cdk-virtual-scroll-viewport itemSize=" 100" class="h-full w-full">
    <li *cdkVirtualFor="let catObject of dataSource" class="relative">
      <div *ngIf="catObject" data-aos="fade-up" data-cy="cat-list-item">
        <div class="grid col-span-4 relative mb-5">
          <a class="group shadow-lg hover:shadow-2xl duration-200 delay-75 w-full bg-white rounded-sm py-6 pr-6 pl-9">
            <!-- Left site bar -->
            <div class="bg-blue-400 group-hover:bg-blue-600 h-full w-4 absolute top-0 left-0"> </div>
            <!-- Cat description -->
            <p class="text-sm font-semibold text-gray-500 group-hover:text-gray-700 mt-2 leading-6"> {{
              catObject.description }}</p>
          </a>
        </div>
      </div>
    </li>
  </cdk-virtual-scroll-viewport>

  <!-- Loader  -->
  <ng-container *ngIf="isLoading | async">
    <div class="flex justify-center mt-2 w-full">
      <button type="button" class="flex items-center rounded-lg bg-blue-600 px-4 py-2 text-white" disabled>
        <svg class="-ml-1 mr-3 h-5 w-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
          </path>
        </svg>
        <span class="font-medium subpixel-antialiased">Loading...</span>
      </button>
    </div>
  </ng-container>

  <!-- Logout button -->
  <div class="md:h-12 md:w-12 h-10 w-10 absolute top-2 right-5  md:right-10" (click)="logout()" data-cy="logout-button">
    <svg xmlns="http://www.w3.org/2000/svg" fill=" none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
    </svg>
    <div
      class="opacity-0 hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center text-sm md:text-1xl font-semibold translate-y-6 md:translate-y-7">
      Logout</div>
  </div>
</div>